.user-profile-container {
    display: flex;
    height: calc(90px - 40px);
    width: fit-content;
    padding: 20px 20px;
    align-items: center;
}
.profile-img {
    width: 50px;
    height: 50px;
    border: 1px solid var(--bs-black-4);
    border-radius: 100px;
}
.profile-txt {
    font-weight: var(--bs-font-bold);
    font-size: var(--bs-font-18px);
    margin: 0 10px;
}
.profile-edit {
    width: 24px;
    height: 24px;
}