/* import */
    /* noto sans kr */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* root */
:root {
    /* color */
    --bs-main-20: #FEEECE;
    --bs-main-100: #F8AC0B;

    --bs-black-5: #F2F2F2;
    --bs-black-25: #C3BFBF;
    --bs-black-34: #A8A8A8;
    --bs-black-50: #808080;
    --bs-black-64: #5C5C5C;
    --bs-black-87: #212121;
    --bs-black: black;
    --bs-white: white;

    /* font family */
    --bs-font-family-notoKr: 'Noto Sans KR', sans-serif;

    /* font weight */
    --bs-font-thin: 100;
    --bs-font-extralight: 200;
    /* --bs-font-light: 300; */
    --bs-font-regular: 500;
    /* Figma 폰트에 맞추면 너무 굵어짐 -> 초기 디자인에 초점 맞추기 */
    --bs-font-medium: 300;   
    --bs-font-semibold: 600;
    --bs-font-bold: 700;
    --bs-font-extrabold: 800;
    --bs-font-black: 900;

    /* font size */
    --bs-font-10px: 10px;
    --bs-font-12px: 12px;
    --bs-font-13px: 13px;
    --bs-font-14px: 14px;
    --bs-font-16px: 16px;
    --bs-font-18px: 18px;
    --bs-font-22px: 22px;

}
* {
    margin: 0 0;
    padding: 0 0;
    font-family: var(--bs-font-family-notoKr);
}
html, body {
    width: 100%;
    height: 100%;
}
a {
    color: var(--bs-black);
    text-decoration: none;
}

/* input */
button {
    border: none;
    border-radius: 5px;
}
input[type=text],
input[type=password] {
    padding: 10px 0 10px 15px;
    border: 0.5px solid var(--bs-black-34);
    border-radius: 5px;
    font-size: var(--bs-font-14px);
}
input[type=text]:focus,
input[type=password]:focus {
    border-color: var(--bs-main-100);
    outline: none;
    color: var(--bs-black);
}
input::placeholder {
    color: var(--bs-black-34);
}
.fontColor-main {
    color: var(--bs-main-100);
}

input[type=checkbox] {
    display:none;
}
input[type=checkbox] + label { 
    cursor: pointer; 
    color: var(--bs-black-50);
    padding-left: 25px; 
    background-repeat: no-repeat;
    background-image: url('../Image/icon/check/uncheck.png');
}
input[type=checkbox]:checked + label {
    color: var(--bs-black);
    background-image: url('../Image/icon/check/check.png');
}
.chkbox-label {
    height: 17px;
    display: flex;
    align-items: center;
}


/* containers */
.back-container {
    height: 40px;
}
.back-img {
    align-items: center;
    padding: 8px 0 8px 20px;
}

/* line */
.line {
    height: 0.5px;
    background-color: var(--bs-black-5);
}
.line-color {
    background-color: var(--bs-main-100);
}