.sort-img {
    margin: 0 20px 0 10px;
}

.diary-container {
    margin-top: 15px;
}

/* hot place */
.title-txt-container {
    margin: 40px 20px 15px 20px;
    font-size: var(--bs-font-22px);
    color: var(--bs-black-87);
    font-weight: var(--bs-font-bold);
}

.place-container {
    display: flex;
    margin: 0 20px 20px 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    border: 1px solid var(--bs-black-10);
}
.place-container:active {
    background-color: var(--bs-main-20);
}

.place-img {
    width: 90px;
    height: 90px;
    border-radius: 8px;
}

.place-txt-container {
    margin-left: 8px;
    flex-grow: 1;
    max-width: calc(100% - 40px);
    overflow: hidden;
    word-wrap: break-word;
}

.place-title {
    font-size: var(--bs-font-16px);
    font-weight: var(--bs-font-bold);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.place-info {
    font-size: var(--bs-font-12-5px);
    font-weight: var(--bs-font-light);
    color: var(--bs-black-64);
    margin-top: 6px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.hashtag-container {
    font-size: var(--bs-font-10px);
    font-weight: var(--bs-font-light);
    color: var(--bs-main-100);
    margin: 8px 18px 0 18px;
}

.hashtag-container span {
    margin-right: 5px;
}
.place-tag {
    margin-left: 0;
    white-space: nowrap;
    overflow: hidden;
    background-image: linear-gradient(160deg, var(--bs-main-100) 70%, var(--bs-white) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.place-second,
.place-third {
    margin-top: 20px;
}
.place-more {
    float: right;
    margin: 10px 20px 0 20px;
    font-size: var(--bs-font-11px);
    font-weight: var(--bs-font-regular);
    color: var(--bs-black-64);
}

.line-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* modal */
.modal-container {
    visibility: hidden;
    border-radius: 8px;
    display: flex;
    flex: 1;
    overflow: auto;
    flex-direction: column;
    position: fixed;
    top: 40px;
    right: 20px;
    width: 100px;
    border: 1px solid var(--bs-black-5);
    background-color: var(--bs-white);
}
.sort-div {
    padding: 10px 18px;
    text-align: center;
    color: var(--bs-black-87);
    font-size: var(--bs-font-14px);
    font-weight: var(--bs-font-regular);
}
.recent-sort {
    border-bottom: 1px solid var(--bs-black-5);
}

/* floating-btn */
.floating-btn {
    position: absolute;
    bottom: 40px;
    right: 20px;
}