body {
    padding-bottom: 120px;
}
.top-container,
.make-diary-container {
    background-color: var(--bs-main-20);
}

.make-diary-container {
    height: calc(200px - 10px);
    padding: 0 20px 10px 20px;
}

.main-txt-container {
    color: var(--bs-main-100);
    font-weight: var(--bs-font-bold);
    font-size: var(--bs-font-22px);
    margin-bottom: -10px;
}
.swiper-container {
    position: relative;
}
.swiper-pagination {
    position: absolute;
    top: 120px;
}
.diary-add {
    margin-right: var(55vw - 50px);
}
.swiper-wrapper {
    text-align: center;
}
.swiper-slide {
    position: relative;
}
.slide-img:not(.add-img) {
    width: 110px;
    height: 110px;
    border-radius: 7px;
    filter: brightness(80%);
    margin-top: 5px;
}

.title-txt-container {
    margin: 40px 20px 15px 20px;
    font-size: var(--bs-font-22px);
    color: var(--bs-black-87);
    font-weight: var(--bs-font-bold);
}

.place-container {
    display: flex;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    background-color: var(--bs-white);
    width: 240px;
    height: 92px;
    margin-top: 3px;
}
.line-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.place-img {
    width: 90px;
    height: 90px;
    border-radius: 8px;
}

.place-txt-container {
    margin-left: 8px;
    flex-grow: 1;
    max-width: calc(100% - 40px);
    overflow: hidden;
    word-wrap: break-word;
}

.place-title {
    font-size: var(--bs-font-16px);
    font-weight: var(--bs-font-bold);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.place-info {
    font-size: var(--bs-font-12-5px);
    font-weight: var(--bs-font-light);
    color: var(--bs-black-64);
    margin-top: 6px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.hashtag-container {
    font-size: var(--bs-font-10px);
    font-weight: var(--bs-font-light);
    color: var(--bs-main-100);
    margin: 8px 18px 0 0;
}

.place-tag {
    white-space: nowrap;
    overflow: hidden;
    background-image: linear-gradient(160deg, var(--bs-main-100) 70%, var(--bs-white) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.show-diary-container {
    margin: 20px 20px 0 20px;
}

.sub-txt-container {
    font-weight: var(--bs-font-bold);
    font-size: var(--bs-font-22px);
    color: var(--bs-black-87);
}

/* grid */
.grid-diary-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.grid-item-diary-container {
    width: 100%;
    position: relative;
}
.grid-place-img {
    width: 100%;
    height: 126px;
    border-radius: 8px 8px 0 0;
    position: relative;
    filter: brightness(70%);
}
.check-container {
    position: absolute;
    z-index: 2;
    top: 5px;
    width: 100%;
    text-align: right;
    right: 5px;
}
.grid-txt-container {
    padding: 0 10px 5px 10px;
    border: 1px solid var(--bs-black-10);
    border-top: none;
    border-radius: 0 0 8px 8px;
}
.diary-title {
    color: var(--bs-black-87);
    font-size: var(--bs-font-14px);
    font-weight: var(--bs-font-regular);
}
.diary-content {
    margin-top: 2px;
    color: var(--bs-black-64);
    font-size: var(--bs-font-11px);
    font-weight: var(--bs-font-regular);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.grid-place-tag {
    overflow: hidden;
    background-image: linear-gradient(160deg, var(--bs-main-100) 70%, var(--bs-white) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.heart-btn,
.bookmark-btn {
    width: 20px;
    height: 20px;
}


.plan-more {
    margin-top: 10px;
    color: var(--bs-black-64);
    font-weight: var(--bs-font-regular);
    font-size: var(--bs-font-11px);
    float: right;
}