body {
    padding-bottom: 40px;
}
.content-container {
    margin: 5px 20px 0 20px;
    padding-bottom: 15px;
    color: var(--bs-black-87);
    border-bottom: 3px solid var(--bs-black-5);
}
.writer-container {
    font-size: 10px;
    font-weight: var(--bs-font-light);
    color: var(--bs-main-100);
}
.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    margin-bottom: 20px;
}
.title {
    font-size: var(--bs-font-22px);
    font-weight: var(--bs-font-bold);
}

/* card */
.card-container {
    border-radius: 18px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 0 0 8px 0 rgba(0, 0, 0, 0.05);
}
.place-title-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}

.place-title {
    padding: 10px 0;
}
.place-name {
    font-size: var(--bs-font-18px);
    font-weight: var(--bs-font-light);
    width: 100%;
}
.bookmark-img {
    position: absolute;
    right: 15px;
    top: 10px;
}
.tempImg {
    width: 100%;
    height: 200px;
}

.info-container {
    padding: 10px 10px;
}
.line-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-sub-container {
    display: flex;
    align-items: center;
}
.info-sub-container:not(.category-container) {
    margin-top: 5px;
}
.info-img {
    width: 24px;
    height: 24px;
}
.info-txt {
    font-size: var(--bs-font-14px);
    font-weight: var(--bs-font-regular);
    margin-left: 8px;
}
#place-name {
    color: var(--bs-blue-87);
}
.review-container {
    margin: 2px 3px 0 3px;
    font-size: var(--bs-font-14px);
    font-weight: var(--bs-font-light);
}


/* content-txt */
.content-txt {
    margin: 20px 0;
    font-size: 14px;
    font-weight: var(--bs-font-light);
}

/* content-img */
.content-img {
    width: calc(100%);
    border-radius: 10px;
}

/* date */
.date-container {
    color: var(--bs-black-34);
    font-size: var(--bs-font-10px);
    font-weight: var(--bs-font-regular);
}


/* 댓글 */
.comment-container {
    margin: 10px 20px 40px 20px;
}
.comment-title {
    margin-bottom: 5px;
    font-size: var(--bs-font-16px);
    font-weight: var(--bs-font-semibold);
    color: var(--bs-black-87);
}
.input-comment {
    width: calc(100% - 20px);
}