.container {
    text-align: center;
}
.title {
    margin: 20px 20px 0px 20px;
    font-size: var(--bs-font-22px);
    font-weight: var(--bs-font-semibold);
    text-align: left;
}

.upload-container {
    text-align: right;
}
#upload {
    color: var(--bs-main-100);
    font-size: var(--bs-font-12px);
    font-weight: var(--bs-font-medium);
}

/* input group */
.input-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}
.radio-group input[type="radio"] {
    display: none;
}

.radio-group input[type="radio"] + span {
    display: inline-block;
    padding: 2px 7px;
    border: 1px solid var(--bs-main-100);
    border-radius: 100px;
    background-color: var(--bs-white);
    text-align: center;
    cursor: pointer;
    color: var(--bs-main-100);
    font-size: var(--bs-font-12px);
}

.radio-group input[type="radio"]:checked + span {
    background-color: var(--bs-main-100);
    color: var(--bs-white);
}

/* subInput group */
.sub-input-container > div{
    border-top: 1px solid var(--bs-black-10);
    border-bottom: 1px solid var(--bs-black-10);
    font-size: var(--bs-font-14px);
    font-weight: var(--bs-font-medium);
    color: var(--bs-font-87);
    height: 40px;
    display: flex;
    margin-bottom: 10px;
}
.size-group {
    padding: 10px 18px ;
}
.size-group input[type="radio"] + span {
    display: inline-block;
}
.size-group:has(input[type="radio"]:checked + span) {
    background-color: var(--bs-main-20);
    font-weight: var(--bs-font-bold);
}

.image-btn {
    background-color: var(--bs-white);
}
.size-group:has(.image-btn:active) {
    background-color: var(--bs-main-20);
}
.image-btn:active {
    background-color: var(--bs-main-20);
}


/* content-container */
.content-container {
    margin: 0px 20px;
}

/* 글자 */
.input-content {
    border: none;
    width: 100%;
}
.title-txt {
    font-size: var(--bs-font-22px);
    font-weight: var(--bs-font-semibold);
}
.sub-title-txt {
    font-size: var(--bs-font-18px);
}
.content {
    font-size: var(--bs-font-14px);
}