.container {
    text-align: center;
}
.title {
    margin: 20px 20px 0px 20px;
    font-size: var(--bs-font-22px);
    font-weight: var(--bs-font-semibold);
    text-align: left;
}

.upload-container {
    text-align: right;
}
#upload {
    color: var(--bs-main-100);
    font-size: var(--bs-font-12px);
    font-weight: var(--bs-font-medium);
}

/* input group */
.input-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}
.radio-group input[type="radio"] {
    display: none;
}

.radio-group input[type="radio"] + span {
    display: inline-block;
    padding: 2px 7px;
    border: 1px solid var(--bs-main-100);
    border-radius: 100px;
    background-color: var(--bs-white);
    text-align: center;
    cursor: pointer;
    color: var(--bs-main-100);
    font-size: var(--bs-font-12px);
}

.radio-group input[type="radio"]:checked + span {
    background-color: var(--bs-main-100);
    color: var(--bs-white);
}

/* subInput group */
.sub-input-container > div{
    border-top: 1px solid var(--bs-black-10);
    border-bottom: 1px solid var(--bs-black-10);
    font-size: var(--bs-font-14px);
    font-weight: var(--bs-font-medium);
    color: var(--bs-font-87);
    height: 40px;
    display: flex;
    margin-bottom: 10px;
}
.size-group {
    padding: 10px 18px ;
}
.size-group input[type="radio"] + span {
    display: inline-block;
}
.size-group:has(input[type="radio"]:checked + span) {
    background-color: var(--bs-main-20);
    font-weight: var(--bs-font-bold);
}

/* left-container */
.left-container {
    margin-left: 20px;
    width: 40px;
}
.left-group input[type="radio"] + span {
    width: 40px;
    height: 40px;
    border: 1px solid var(--bs-black-25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: var(--bs-font-bold);
    color: var(--bs-black-34);
    margin-bottom: 10px;
}
.left-group:nth-child(1), .left-group:nth-child(3) {
    font-size: var(--bs-font-25px);
}
.left-group:nth-child(2) {
    font-size: var(--bs-font-23px);
}
.left-group input[type="radio"]:checked + span {
    background-color: var(--bs-main-60);
    color: var(--bs-white);
    border: none;
}