.line-color {
    width: 80%;
}
.main-txt-container {
    margin: 35px 0 24px 20px;
    font-size: var(--bs-font-16px);
    font-weight: var(--bs-font-regular);
}
#input-nick {
    margin: 0 20px;
    width: calc(100% - 60px);
}
