.line-color {
    width: 80%;
}
.main-txt-container {
    margin: 35px 0 35px 20px;
    font-size: var(--bs-font-16px);
    font-weight: var(--bs-font-regular);
}
.input-birth-container {
    margin: 0 20px;
} 
.input-birth {
    width: calc(100% - 20px);
}
.birth-txt {
    font-size: var(--bs-font-13px);
    font-weight: var(--bs-font-regular);
    margin-bottom: 4px;
    color: var(--bs-black-64);
}
#year,
#month {
    margin-bottom: 10px;
}