/* .back-container {
    border-bottom: 1px solid var(--bs-black-5);
} */

.main-txt-container {
    color: var(--bs-black-87);
    font-size: var(--bs-font-16px);
    font-weight: var(--bs-font-regular);
    margin-left: 20px;
    margin-top: 35px;
}

.chk-all-container {
    margin: 55px 20px 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--bs-black-5);
}

#label-all {
    font-size: var(--bs-font-13px);
}

.chkbox-label {
    font-size: var(--bs-font-12px);
}

.inside {
    margin-top: 16px;
    margin-left: 27px;
}

.privacy-look {
    margin-left: 8px;
    color: var(--bs-black-25);
    font-size: var(--bs-font-10px);
    text-decoration: underline;
}

.signup-container {
    margin: 0 20px;
    width: calc(100% - 40px);
    position: fixed;
    bottom: 40px;
}

.signup-btn {
    color: var(--bs-white);
    background-color: var(--bs-main-100);
    height: 40px;
    width: 100%;
}

.disabled {
    background-color: var(--bs-main-20);
}
.line-color {
    width: 0;
}