.line-color {
    width: 100%;
}
.main-txt-container {
    margin: 35px 0 35px 20px;
    font-size: var(--bs-font-16px);
    font-weight: var(--bs-font-regular);
}
.sub-txt {
    font-size: var(--bs-font-12px);
    color: var(--bs-black-34);
    font-weight: var(--bs-font-regular);
}

.genre-container {
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 22px;
    text-align: center;
}

.genre-name {
    color: var(--bs-black);
    font-size: var(--bs-font-13px);
    font-weight: var(--bs-font-regular);
}
.chk-btn {
    position: fixed;
    bottom: 40px;
    height: 40px;
    margin: 0 20px;
    width: calc(100% - 40px);
}