.top-container {
    padding: 8px 0 8px 20px;
}

.txt-container {
    font-size: var(--bs-font-22px);
    font-weight: var(--bs-font-bold);
    margin-left: 20px;
    margin-top: 60px;
}

.form-signin {
    width: calc(100% - 40px);
    margin: 0 20px;
    text-align: center;
    margin-top: 44px;
}

.form-signin > * {
    width: calc(100% - 17px);
}
.container-pw {
    position: relative;
    margin-top: 8px;
}

#pw {
    width: 100%;
}
.eyes {
    position: absolute;
    left: 93%;
    top: calc(50% - 12px);
}

.signin-btn {
    color: var(--bs-white);
    background-color: var(--bs-main-100);
    height: 40px;
    width: 100%;
    margin-top: 24px;
}

.disabled {
    background-color: var(--bs-main-20);
}

.find-container {
    color: var(--bs-black-64);
    font-size: var(--bs-font-12px);
    float: right;
    margin: 13px 20px 0 0;
}