body {
    padding-bottom: 95px;
}

.hot-slide-container {
    height: 310px;
    width: 250px;
    border-radius: 18px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15), 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.main-txt-container {
    margin-top: 10px;
    font-size: var(--bs-font-22px);
    color: var(--bs-black-87);
    font-weight: var(--bs-font-bold);
}

.sub-txt-container {
    font-size: var(--bs-font-14px);
    color: var(--bs-black-64);
    font-weight: var(--bs-font-medium);
}

.main-txt-container,
.sub-txt-container {
    margin-left: 20px;
    margin-right: 20px;
}

.swiper-slide {
    padding: 18px 0 35px 0;
}

.first {
    padding-left: calc(50% - 125px);
}

.main-content-container {
    display: flex;
    height: calc(55px - 18px);
    border-radius: 18px 18px 0 0;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.05);
    padding: 10px 9px;
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    margin-right: 5px;
}

.main-content-txt-container {
    width: 170px;
}

.nick-txt {
    color: var(--bs-main-100);
    font-size: var(--bs-font-8px);
    font-weight: var(--bs-font-regular);
}

.title-txt {
    font-size: var(--bs-font-12px);
    font-weight: var(--bs-font-regular);
    color: var(--bs-black-87);
}

.date-txt {
    font-size: var(--bs-font-7px);
    font-weight: var(--bs-font-regular);
    color: var(--bs-black-34);
}

.bookmark-img {
    display: flex;
    align-items: center;
}
.bookmark-img-tag {
    width: 18px;
    height: 18px;
}

/* card - info */
.info-img-container {
    text-align: center;
    margin-top: 12px;
}

.info-img {
    border-radius: 8px;
    width: 220px;
    height: 140px;
}

.info-txt-container {
    margin: 8px 15px 0 15px;
    font-size: var(--bs-font-12px);
    color: var(--bs-black-87);
    font-weight: var(--bs-font-regular);
}

.info-txt {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    width: 185px;
}

.line-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-txt {
    margin-left: 10px;
}

.hashtag-container, .hashtag-container-2, .hashtag-container-3 {
    font-size: var(--bs-font-10px);
    font-weight: var(--bs-font-light);
    color: var(--bs-main-100);
    margin: 8px 18px 0 18px;
}

.hashtag-container span, .hashtag-container-2 span, .hashtag-container-3 span {
    margin-right: 5px;
}

/* hot place */
.title-txt-container {
    margin: 40px 20px 15px 20px;
    font-size: var(--bs-font-22px);
    color: var(--bs-black-87);
    font-weight: var(--bs-font-bold);
}

.place-container {
    display: flex;
    margin: 0 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1), 0 0 20px 0 rgba(0, 0, 0, 0.05);
}
.place-container:active {
    background-color: var(--bs-main-20);
}

.place-img {
    width: 90px;
    height: 90px;
    border-radius: 8px;
}

.place-txt-container {
    margin-left: 8px;
    flex-grow: 1;
    max-width: calc(100% - 40px);
    overflow: hidden;
    word-wrap: break-word;
}

.place-title {
    font-size: var(--bs-font-16px);
    font-weight: var(--bs-font-bold);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.place-info {
    font-size: var(--bs-font-12-5px);
    font-weight: var(--bs-font-light);
    color: var(--bs-black-64);
    margin-top: 6px;
    height: 36px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.place-tag {
    margin-left: 0;
    white-space: nowrap;
    overflow: hidden;
    background-image: linear-gradient(160deg, var(--bs-main-100) 70%, var(--bs-white) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.place-second,
.place-third {
    margin-top: 20px;
}
.place-more {
    float: right;
    margin: 10px 20px 0 20px;
    font-size: var(--bs-font-11px);
    font-weight: var(--bs-font-regular);
    color: var(--bs-black-64);
}


/* show plan */
.plan-add {
    margin-left: 20px;
}
.plan-slide {
    padding: 0 0;
}
.plan-slide:nth-child(2) {
    margin-left: -28vw;
}
.plan-container {  
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.plan-img {
    width: 135px;
    height: 143px;
    border-radius: 10px;
    filter: brightness(80%);
    position: relative;
}
.plan-txt {
    position: absolute;
    font-size: var(--bs-font-13px);
    color: var(--bs-white);
    font-weight: var(--bs-font-semibold);
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* card-news-modal */
.card-modal-content {
    background-color: var(--bs-white);
    margin: auto;
    width: 90%;
    max-width: 350px;
    border-radius: 10px;
}
#card-news-modal {
    display: none;
    padding-top: 100px; 
}
.card-image-container {
    background-color: var(--bs-black-25);
    text-align: center;
    position: relative;
    height: 225px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.card-image-container img.selected-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover !important; 
}
#card-image {
    width: 100%;
    height: 100%;
}
#card-close {
    color: var(--bs-white);
    font-size: 24px;
    font-weight: var(--bs-font-medium);
    position: absolute;
    right: 25px;
    top: 100px;
    z-index: 3;
}
#image-input {
    background-size: cover;
}
.add-image {
    color: var(--bs-white);
    font-size: 50px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-info-container {
    padding: 10px 10px;
}
.line-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-sub-container {
    display: flex;
    align-items: center;
}
.info-sub-container:not(.category-container) {
    margin-top: 5px;
}
.modal-info-img {
    width: 24px;
    height: 24px;
}
.modal-info-txt {
    font-size: var(--bs-font-14px);
    margin-left: 8px;
    width: 120px;
    border: none !important;
    padding: 0 0 !important;
    text-align: left;
}
.star-rating {
    display: flex;
}
.star {
    width: 18px;
}
.review-container {
    margin: 10px 3px 0 3px;
    font-size: var(--bs-font-14px);
    font-weight: var(--bs-font-light);
}
.card-bottom-container {
    margin: 14px 3px 6px 3px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.modal-hashtag-div {
    display: flex;
    width: 250px;
    text-align: left;
}
.modal-hashtag-container {
    display: flex;
    color: var(--bs-main-100);
    font-size: var(--bs-font-12px);
}
.modal-hashtag-container > span {
    margin-right: 5px;
}