.content-container {
    display: flex;
    column-gap: 20px;
}
/* left-container */
.left-container {
    width: 40px;
}
.left-group input[type="radio"] + span {
    width: 40px;
    height: 40px;
    border: 1px solid var(--bs-black-25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: var(--bs-font-bold);
    color: var(--bs-black-34);
    margin-bottom: 10px;
}
.left-group:nth-child(1), .left-group:nth-child(3) {
    font-size: var(--bs-font-25px);
}
.left-group:nth-child(2) {
    font-size: var(--bs-font-23px);
}
.left-group input[type="radio"]:checked + span {
    background-color: var(--bs-main-60);
    color: var(--bs-white);
    border: none;
}