.content-container {
    display: flex;
    column-gap: 20px;
}
/* left-container */
.left-container {
    width: 40px;
}
.left-group input[type="radio"] + span,
.left-group button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--bs-black-25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: var(--bs-font-bold);
    color: var(--bs-black-34);
    margin-bottom: 10px;
    background-color: var(--bs-white);
}
.left-group:nth-child(1) {
    font-size: var(--bs-font-25px);
}
.page {
    font-size: var(--bs-font-23px);
}
#add_page {
    font-size: var(--bs-font-25px);
}
.left-group input[type="radio"]:checked + span,
.left-group > button:active {
    background-color: var(--bs-main-60);
    color: var(--bs-white);
    border: 1px solid var(--bs-main-60);
}
.day-page {
    text-align: left;
    margin-top: -20px;
    margin-left: 50px;
}


/* time-picker modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.time-modal-content,
.card-modal-content {
    background-color: var(--bs-white);
    margin: auto;
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
}
.time-title-container {
    background-color: var(--bs-black-10);
    text-align: center;
    position: relative;
    padding: 10px 14px;
    border-radius: 8px 8px 0 0;
}
.time-title {
    text-align: center;
    font-size: var(--bs-font-16px);
}
.close {
    color: var(--bs-black-87);
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    right: 14px;
    top: 3px;
}
.close:hover,
.close:focus {
    color:var(--bs-black);
    text-decoration: none;
    cursor: pointer;
}
.time-modal-content > div:nth-child(2) {
    padding: 12px 20px 16px 20px;
}
.time-modal-content > div:nth-child(3) {
    padding: 0 20px 14px 20px;
}
.time-sub-text {
    font-size: var(--bs-font-14px);
    margin: 5px;
}
.time-picker {
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time-picker select {
    font-size: var(--bs-font-16px);
    padding: 9px 12px;
    border: 1px solid var(--bs-black-10);
    border-radius: 3px;
    background-color: var(--bs-white);
    color: var(--bs-black-87);
    width: 86px;
    text-align: center;
    margin: 0 6px;
}
.time-picker select:focus {
    border-color: var(--bs-main-100);
    outline: none;
}
.time-savebtn-div {
    text-align: right;
    padding: 0 20px 15px;
}
#saveBtn {
    background-color: var(--bs-white);
    color: var(--bs-main-100);
    font-size: var(--bs-font-14px);
}


.time-text {
    font-size: var(--bs-font-12px);
    margin-bottom: 4px;
}

/* card-news-modal */
#card-news-modal {
    padding-top: 100px; 
    display: block;
}
.time-image-container {
    background-color: var(--bs-black-25);
    text-align: center;
    position: relative;
    height: 225px;
    border-radius: 8px 8px 0 0;
}
#card-close {
    color: var(--bs-white);
    font-size: 24px;
    font-weight: var(--bs-font-medium);
    position: absolute;
    right: 14px;
    top: 3px;
}
.add-image {
    color: var(--bs-white);
    font-size: 50px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info-container {
    padding: 10px 10px;
}
.line-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-sub-container {
    display: flex;
    align-items: center;
}
.info-sub-container:not(.category-container) {
    margin-top: 5px;
}
.info-img {
    width: 24px;
    height: 24px;
}
.info-txt {
    font-size: var(--bs-font-14px);
    font-weight: var(--bs-font-regular);
    margin-left: 8px;
    width: 120px;
    border: none !important;
    padding: 0 0 !important;
}
#place-name {
    color: var(--bs-blue-87);
}
.star-rating {
    display: flex;
}
.star {
    width: 18px;
}
.review-container {
    margin: 10px 3px 0 3px;
    font-size: var(--bs-font-14px);
    font-weight: var(--bs-font-light);
}
#cardNewsLocation,
#cardNewsTime,
#cardNewsPrice {
    margin-left: 10px;
    border: none;
}
.yen {
    display: flex;
}
#yen-input {
    font-size: var(--bs-font-14px);
    font-weight: var(--bs-font-regular);
    margin-left: 8px;
    border: none !important;
    padding: 0 0 !important;
    max-width: 120px;
}
#yen-txt {
    display: none;
    margin-left: 3px;
}
.hashtag-div {
    margin: 8px 3px 0 3px;
}
.hashtag-container {
    display: flex;
}
.prefix {
    font-size: var(--bs-font-12px);
    margin-right: 2px;
    color: var(--bs-main-80)
}
.hashtag {
    margin-right: 5px;
    font-size: var(--bs-font-12px) !important;
    font-weight: var(--bs-font-light) !important;
    color: var(--bs-main-80) !important;
    border: none !important;
    padding: 0 0 !important;
}
.hashtag::placeholder {
    color: var(--bs-main-80) !important;
}