.img-container {
    text-align: center;
    display: flex;
    justify-content: center;
}
.img-join-container {
    width: fit-content;
    position: relative;
    margin-top: 77px;
}
#profile-img {
    border: 1px solid var(--bs-black-4);
    border-radius: 100px;
    width: 150px;
    height: 150px;
}
#profile-edit-img {
    position: absolute;
    top: 110px;
    left: 110px;
    z-index: 2;
}
.next-btn {
    margin: 0 20px;
}
.input-name {
    margin: 40px 20px 15px 20px;
    width: calc(100% - 60px);
}
.disabled {
    background-color: var(--bs-main-20);
    color: var(--bs-white);
    border: none;
}

/* modal */
.modal-container {
    visibility: hidden;
    margin: 0 20px;
    border-radius: 12px;
    display: flex;
    flex: 1;
    overflow: auto;
    flex-direction: column;
    box-shadow: 0px 0px 5px 5px var(--bs-black-4);
    background-color: var(--bs-black-4);
    position: fixed;
    bottom: 40px;
    width: calc(100% - 40px);
}
.img-btn {
    background-color: var(--bs-white);
    height: 40px;
    color: var(--bs-black-87);
    font-size: var(--bs-font-14px);
    font-weight: var(--bs-font-light);
}
.img-btn:active {
    background-color: var(--bs-main-20);
}
#take-picture,
#default {
    margin-bottom: 2px;
}
#bring-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}